__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/
*.png
*.jpeg
*.jpg
*.pdf
!assets/*.png
!assets/*.jpeg
!assets/*.jpg
!assets/*.pdf
~/.cache/kartli/
.idea/
.vscode/
.DS_Store
